# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dummy files
*.~*
*.ec?
CLEANUP*.BAT
build.bat

# VC++ files
.vs/
ipch/
Debug/
Release/
Intermediate/
*.user
*.sdf
*.VC.db

# pt2wdm files
PTwCtrl/inc/*.h
PTwCtrl/lib/*.lib
!PTwCtrl/inc/Prefix.h
